@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

html {
    box-sizing: border-box
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23000000' fill-opacity='0.24'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Fondamento', cursive;
    font-weight: 700;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}

.quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2)
}

.quote-text {
    font-size: 2.75rem
}

.quote-text-long {
    font-size: 2em
}

.fa-quote-left, .fa-quote-right {
    font-size: 4rem
}

.quote-author {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic
}

button {
    padding: 0.5rem 1.8rem;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 2.5rem;
    background-color: #333;
    color: #FFF;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
    font-size: 1.2rem;
    cursor: pointer
}

button:hover {
    filter: brightness(110%)
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65)
}

.fa-twitter {
    font-size: 1.5rem
}

.button-twitter:hover {
    color: #38A1F3 /* Official Twitter Blue */
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between
}

.loader {
    border: 16px solid #F3F3F3;
    border-top: 16px solid #333;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Tablet or Smaller Media Query */
@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px
    }

    .quote-text {
        font-size: 2.5rem
    }
}